/** Solamente se puede modificar este fichero! Usa con astucia los selectores para aplicar las propiedades CSS adecuadas dependiendo del caso  */

/** Ejemplo: Si quisiera pintar el h1 de rojo pondría */

/* h1 {
    color: red;
} */
.published-date {
	color: #f77d00;
}
.site-header > :nth-child(3) {
	background-color: rgb(132, 0, 197);
	opacity: 85%;
}
.post-content h4:first-of-type {
	text-align: center;
}
.logos-social-networks {
	justify-content: center;
}

/* Podemos tambien aplicar esta regla para centrar logos de eje X, pero no se si hay que hacer este porque estos elementos tienen margin write y margin bottom predterminado de bootstrap o de otro framework. Si hay que centrar de eje X hay que quitar comentario de proxima regla: (en teoria, si dejamos sin esta ultima regla todo sera como en ejemplo final) */

/* .logos-social-networks a {
	margin: 20px;
}
 */
